parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

includes:
    - tests/Utils/PHPStan/Extension/extension.neon
    - phpstan-baseline.neon
